<div class="row">
    <p class="text-left text-info col-md-4 library-message">{{loadingStatus}}</p>
    <div ng-hide="loading" class="col-md-4" id="paginator">
        <ul ng-hide="filteredTotal < pageLength" pagination total-items="filteredTotal" items-per-page="pageLength" ng-model="pageIndex" max-size="3" rotate="false"  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true" ng-change="setPage(pageIndex)"></ul>
    </div>
    <div class="col-md-4" ng-hide="loading" id="page-length-choice" class="pagination btn-group" dropdown>
      <button type="button" class="btn btn-default dropdown-toggle">
        Show {{pageLength}} items per page <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="i in pageLengths"><a href ng-click="setPageLength(i)">{{i}}</a></li>
      </ul>
    </div>    
</div>
<div class="row items-table">
    <table class="table table-striped table-hover table-condensed table-responsive" ng-show="filteredItems.length">
        <thead>
            <tr>
                <th sortable-column ng-click="setSort('title')" sorted="(sort.substr(1) === 'title')" sort-dir="sort[0]">Title</th>
                <th sortable-column ng-click="setSort('subtitle')" sorted="(sort.substr(1) === 'subtitle')" sort-dir="sort[0]">Subtitle</th>
                <th sortable-column ng-click="setSort('series')" sorted="(sort.substr(1) === 'series')" sort-dir="sort[0]">Series</th>
                <th sortable-column ng-click="setSort('people[0].name')" sorted="(sort.substr(1) === 'people[0].name')" sort-dir="sort[0]">Authors</th>
                <th sortable-column ng-click="setSort('location')" sorted="(sort.substr(1) === 'location')" sort-dir="sort[0]">Location</th>
                <th sortable-column ng-click="setSort('callNumber')"  sorted="(sort.substr(1) === 'callNumber')"  sort-dir="sort[0]" class="narrow">Call #</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in filteredItems">
                <td><a href="#/detail/{{item.key}}?{{urlParams()}}">{{item.title}}</a></td>
                <td>{{item.subtitle}}</td>
                <td>{{item.series}}</td>
                <td><span ng-repeat="person in item.people track by $index | filter:{role: 'author'}">{{person.name}}<br ng-hide="$last"></span></td>
                <td>{{item.location}}</td>
                <td class="narrow">{{item.callNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>
