<div class="item-message">
<a href="#/items/{{queryType}}/{{queryText}}">Back to Results</a>
</div>
<div class="item-content">
<dl>
    <dt>Title:</dt>
    <dd>{{item.title}}</dd>
    <td>Subtitle:</td>
    <dd>{{item.subtitle}}</dd>
    <dt>Series:</dt>
    <dd>{{item.series}}</dd>
    <dt>Volume:</dt>
    <dd>{{item.volume}}</dd>
    <dt>Copy Number:</dt>
    <dd>{{item.copyNumber}}</dd>
    <dt>Authors:</dt>
    <dd><ul><li ng-repeat="person in item.people track by $index | filter:{role: 'author'}">{{person.name}}</li></ul></dd>
    <dt>Subjects:</dt>
    <dd><ul><li ng-repeat="subject in item.subjects track by $index">{{subject}}</li></ul></dd>
    <dt>Location:</dt>
    <dd>{{item.location}}</dd>
    <dt>Call Number:</dt>
    <dd>{{item.callNumber}}</dd>
    <dt>AR Quiz Number:</dt>
    <dd>{{item.arQuizNumber}}</dd>
    <dt>AR Interest Level:</dt>
    <dd>{{item.arInterestLevel}}</dd>
    <dt>AR Grade Level</dt>
    <dd>{{item.arGradeLevel}}</dd>
    <dt>AR Points</dt>
    <dd>{{item.arPoints}}</dd>
    <dt>Date Added</dt>
    <dd>{{item.dateAdded}}</dd>
    <dt>Unknown1</dt>
    <dd>{{item.unknown1}}</dd>
    <dt>Unknown2</dt>
    <dd>{{item.unknown2}}</dd>
    <dt>Unknown3</dt>
    <dd>{{item.unknown3}}</dd>
    <dt>Unknown4</dt>
    <dd>{{item.unknown4}}</dd>
    <dt>Status:</dt>
    <dd>{{item.status}}</dd>
</dl>
</div>
