<div class="items-message">
    <p ng-show="!loading && (items.length == total)">The library has {{total}} items in its catalog.</p>
    <p ng-show="!loading && items.length && (items.length !== total)">{{items.length}} items match your query.</p>
    <p ng-show="!loading && !items.length">No items match your query.</p>
    <p ng-show="loading">Loading Data...</p>
</div>
<table ng-table="tableParams" class="items-table" ng-show="items.length">
    <tr ng-repeat="item in $data">
        <td data-title="'Title'" sortable="'title'"><a href="#/detail/{{item.key}}?{{urlParams()}}">{{item.title}}</a></td>
        <td data-title="'Subtitle'" sortable="'subtitle'">{{item.subtitle}}</td>
        <td data-title="'Series'" sortable="'series'">{{item.series}}</td>
        <td  data-title="'Authors'" sortable="'authors'"><span ng-repeat="person in item.people track by $index | filter:{role: 'author'}">{{person.name}}{{$last ? '' : '; '}}</span></td>
    </tr>
</table>
