/* app css stylesheet */

html,body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

header #logo {
    float: left;
}

header #search {
    float: right;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5em;
    right: 0px;
    overflow: hidden;
}

.main-content {
    position: absolute;
    top: 5em;
    left: 0px;
    bottom: 2em;
    right: 0px;
    overflow: auto;
}

.items-message, .item-message {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 2em;
    overflow: hidden;
    text-align: center;
}

.item-content, .items-table {
    position: absolute;
    top: 2em;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.items-table .ng-table-pagination {
    margin: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 2em;
    left: 0px;
    right: 0px;
    overflow: hidden;
}
