/* app css stylesheet */


/** Need columns in table to be fixed width, or they jump all over
 * when changing sort and filter. */
.items-table td, th {
    min-width: 15em;
    max-width: 15em;
}

.items-table td.narrow, th.narrow {
    min-width: 5em;
    max-width: 5em;
}

/* Correct some layout issues with the paginator */
#paginator {
    padding: 0 15px;
}

#paginator ul {
    margin-top: 0;
    margin-bottom: 0;
}

#page-length-choice {
    margin-bottom: 10px;
}

/* Line up the dropdown menu with the button */
#page-length-choice ul.dropdown-menu {
    margin-left: 15px;
}

/* Correct layout issues with the search controls */
#search {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Line these various messages up with the buttons and each other */
.library-message {
    padding: 6px 15px;
    vertical-align: middle;
    font-style: italic;
}

/* Separate the bottom status panel from the rest */
#version {
    border-top: 1px solid;
}

/* Make sure the table headers have a pointer as a cursor, not a finger. */
.sortable {
    cursor: pointer;
}

/* I believe that references to titles should always be italic */
cite {
    font-style: italic
}

/* Make the spine label content bold */
#call-number, #copy-number {
    font-weight: bold;
}

/* Some spacers */
#series, #subjects, #imprint {
    margin-top: 0.5em;
}



/* For the ar fields, I want a definition list semantically, but I
 * want it displayed horizontally. */
#ar dl {
    display: inline;
}

#ar dl dt, dl dd {
    display: inline;
}

/* I also want a bullet separator between (but not before the first) 
 * the ar fields, to more effectively display the semantics visually. */
#ar dd + dt:before {
    content: "\2022\00a0"
}


